@model ProductUpdateVM
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Update Product</h4>

        <form method="post" class="forms-sample" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" class="form-control" placeholder="Rating">
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ProductCode"></label>
                <input asp-for="ProductCode" class="form-control" placeholder="ProductCode">
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Discount"></label>
                <input asp-for="Discount" class="form-control" placeholder="Discount">
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RewardPoints"></label>
                <input asp-for="RewardPoints" class="form-control" placeholder="Reward Points">
                <span asp-validation-for="RewardPoints" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tags"></label>
                <input asp-for="Tags" class="form-control" placeholder="Tags">
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>

            <div class="form-group">

                <select asp-for="CategoryId">
                    <option selected disabled>Category secin</option>
                    @foreach (Category category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">

                <select asp-for="BrandId">
                    <option selected disabled>Brand secin</option>
                    @foreach (Brand brand in ViewBag.Brands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>
            </div>


            <div class="form-group">
                <img src="~/image/@Model.MainImagePath" style="width:150px" />
                <input type="hidden" asp-for="MainImagePath" />
                <label asp-for="MainImage"></label>
                <input asp-for="MainImage" class="form-control" placeholder="Main Image">
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>


            <div class="form-group">

                <img src="~/image/@Model.HoverImagePath" style="width:150px" />
                <input type="hidden" asp-for="HoverImagePath" />
                <label asp-for="HoverImage"></label>
                <input asp-for="HoverImage" class="form-control" placeholder="Hover Image">
                <span asp-validation-for="HoverImage" class="text-danger"></span>
            </div>


            <div class="form-group">
                @foreach (var path in Model.AdditionalImagePaths)
                {

                    <img src="~/image/@path" style="width:100px" />
                    <input type="hidden" asp-for="AdditionalImagePaths" value="@path" />
                }
                <label asp-for="AdditionalImages"></label>
                <input asp-for="AdditionalImages" class="form-control" placeholder="Additional Image">
                <span asp-validation-for="AdditionalImages" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <button class="btn btn-light" asp-action="index">Cancel</button>
        </form>
    </div>
</div>
